@import "tailwindcss";
*{
  font-family: "Quicksand" , sans-serif;
  font-weight: 700;
}
body{
  padding-top: 80px;
}
html {
  scroll-padding-top: 80px; /* height of your fixed header */
  scroll-behavior: smooth; /* optional, for smooth scroll */
}
button , a{
  font-family: "Rowdies";
}